
################################################
## import name space
################################################

import("methods")
import("sn")
import("MASS")
import("robustbase")
import("timeDate")
import("timeSeries")
import("fBasics")
import("fCopulae")

################################################
## useDynLib
################################################

useDynLib("fAssets")

################################################
## S4 classes
################################################

exportClasses("fASSETS" )
exportMethods("show" )

################################################
## S3 classes
################################################

S3method("plot", "fASSETS")
S3method("summary", "fASSETS")

################################################
## functions
################################################

export(
    ".DEoptim",
    ".MCDMeanCov",
    ".OGKMeanCov",
    ".abcArrange",
    ".arwMeanCov",
    ".assetsStats",
    ".bag.fun",
    ".baggedMeanCov",
    ".bayesSteinMeanCov",
    ".binaryDist",
    ".braycurtisDist",
    ".canberraDist",
    ".col.corrgram",
    ".cor.bagged",
    ".cor.mean.tawny",
    ".cor.shrink",
    ".corDist",
    ".corrgram",
    ".cortestPanel",
    ".cov.arw",
    ".cov.bagged",
    ".cov.donostah",
    ".cov.nne.Mtovec",
    ".cov.nne.dDk",
    ".cov.nne.nclean.sub",
    ".cov.nne.splusNN",
    ".cov.nne.vectoM",
    ".cov.nnve",
    ".cov.prior.cc",
    ".cov.prior.identity",
    ".cov.sample.tawny",
    ".cov.shrink",
    ".cov.shrink.tawny",
    ".covMeanCov",
    ".covRob.control",
    ".denoise",
    ".deoptimPlot",
    ".deoptimSummary",
    ".differenceDist",
    ".dmp",
    ".donostahMeanCov",
    ".dutchPortfolioData",
    ".ecodist",
    ".ellipsePanel",
    ".euclideanDist",
    ".filter.RMT",
    ".getCorFilter.Shrinkage",
    ".hclustArrange",
    ".hclustSelect",
    ".histPanel",
    ".jaccardDist",
    ".kendallDist",
    ".kmeansSelect",
    ".ledoitWolfMeanCov",
    ".loglevel.tawny",
    ".lowessPanel",
    ".mahalanobisDist",
    ".manhattanDist",
    ".maximumDist",
    ".mcdMeanCov",
    ".minkowskiDist",
    ".minmaxPanel",
    ".mp.density.kernel",
    ".mp.fit.kernel",
    ".mp.lambdas",
    ".mp.rho",
    ".mp.theory",
    ".mst",
    ".mstPlot",
    ".mutinfoDist",
    ".mveMeanCov",
    ".mvenergyTest",
    ".mvnorm.e",
    ".mvnormFit",
    ".mvshapiroTest",
    ".mvstFit",
    ".nnveMeanCov",
    ".nsca",
    ".numberPanel",
    ".orderArrange",
    ".panel.copula",
    ".panel.ellipse",
    ".panel.hist",
    ".panel.minmax",
    ".panel.pie",
    ".panel.pts",
    ".panel.shade",
    ".panel.txt",
    ".pcaArrange",
    ".piePanel",
    ".piePtsPanel",
    ".ptsPanel",
    ".rmtMeanCov",
    ".robust.cov.boot",
    ".sampleArrange",
    ".shadePanel",
    ".shrinkMeanCov",
    ".shrinkage.c",
    ".shrinkage.intensity",
    ".shrinkage.p",
    ".shrinkage.r",
    ".sm132PortfolioData",
    ".sm2vec",
    ".smindexes",
    ".sorensenDist",
    ".sortIndexMST",
    ".spearmanDist",
    ".statsArrange",
    ".studentMeanCov",
    ".txtPanel",
    ".usPortfolioData",
    ".varcov",
    ".vec2sm",
    ".worldIndexData",
    "assetsArrange",
    "assetsBasicStatsPlot",
    "assetsBoxPercentilePlot",
    "assetsBoxPlot",
    "assetsBoxStatsPlot",
    "assetsCorEigenPlot",
    "assetsCorImagePlot",
    "assetsCorTestPlot",
    "assetsCorgramPlot",
    "assetsCumulatedPlot",
    "assetsDendrogramPlot",
    "assetsFit",
    "assetsHistPairsPlot",
    "assetsHistPlot",
    "assetsLPM",
    "assetsLogDensityPlot",
    "assetsMeanCov",
    "assetsMomentsPlot",
    "assetsNIGFitPlot",
    "assetsNIGShapeTrianglePlot",
    "assetsOutliers",
    "assetsPairsPlot",
    "assetsQQNormPlot",
    "assetsReturnPlot",
    "assetsRiskReturnPlot",
    "assetsSelect",
    "assetsSeriesPlot",
    "assetsSim",
    "assetsStarsPlot",
    "assetsTest",
    "assetsTreePlot",
    "covEllipsesPlot",
    "covarRisk",
    "getCenterRob",
    "getCovRob",
    "lambdaCVaR",
    "mcr",
    "mcrBeta",
    "mvsnormFit",
    "pfolioCVaR",
    "pfolioCVaRplus",
    "pfolioHist",
    "pfolioMaxLoss",
    "pfolioReturn",
    "pfolioTargetReturn",
    "pfolioTargetRisk",
    "pfolioVaR",
    "riskBudgets",
    "riskContributions" )
