
################################################
## import name space
################################################

importFrom("fBasics",
           "basicStats",
           "seriesPlot",
           "histPlot",
           "isPositiveDefinite",
           "makePositiveDefinite",
           "nigFit",
           "nigShapeTriangle",
           "qqnormPlot",
           "pnig")
# importFrom("fCopulae",
#           "grid2d",
#           "mvFit",
#           "hexBinning",
#           "squareBinning")
importFrom("graphics",
           "plot",
           "text",
           "abline",
           "axis",
           "polygon",
           "boxplot",
           "arrows",
           "mtext",
           "box",
           "image",
           "title",
           "grid",
           "legend",
           "pairs",
           "par",
           "hist",
           "stars",
           "Axis",
           "strwidth",
           "segments",
           "plot.xy",
           "rect")
importFrom("grDevices",
           "palette",
           "rainbow",
           "cm.colors",
           "xy.coords")
importFrom("methods",
           "show",
           "new")
importFrom("robustbase",
           "scaleTau2",
           "covMcd")
importFrom("sn",
           "msn.quantities")
importFrom("stats",
           "approx",
           "median",
           "cor",
           "cor.test",
           "cov",
           "cov2cor",
           "qchisq",
           "lowess",
           "symnum",
           "dist",
           "hclust",
           "density",
           "dnorm",
           "sd",
           "mahalanobis",
           "pchisq",
           "kmeans",
           "rchisq",
           "rnorm",
           "var",
           "mad",
           "shapiro.test",
           "qf")
importFrom("timeDate",
           "kurtosis",
           "skewness",
           "sample",
           "setRmetricsOptions",
           "getRmetricsOptions")
importFrom("timeSeries",
           "sort",
           "lines",
           "colnames<-",
           "rownames<-",
           "is.timeSeries",
           "series",
           "na.omit",
           "points",
           "colCumsums",
           ".description",
           "as.timeSeries",
           "colStdevs",
           "diff",
           "scale",
           "series<-",
           "print",
           "returns",
           "rev")

################################################
## useDynLib
################################################

useDynLib("fAssets")

################################################
## S4 classes
################################################

exportClasses("fASSETS" )
exportMethods("show" )

################################################
## S3 classes
################################################

S3method("plot", "fASSETS")
S3method("summary", "fASSETS")

################################################
## functions
################################################

export(
    ".abcColnames",
    ".assetsArrange",
    "assetsBasicStatsPlot",
    "assetsBoxPercentilePlot",
    "assetsBoxPlot",
    "assetsBoxStatsPlot",
    "assetsCorEigenPlot",
    "assetsCorgramPlot",
    "assetsCorImagePlot",
    ".assetsCorrelationPlot",
    "assetsCorTestPlot",
    "assetsCumulatedPlot",
    "assetsDendrogramPlot",
    "assetsFit",
    "assetsHistPairsPlot",
    "assetsHistPlot",
    "assetsLogDensityPlot",
    "assetsLPM",
    "assetsMeanCov",
    "assetsMomentsPlot",
    "assetsNIGFitPlot",
    "assetsNIGShapeTrianglePlot",
    ".assetsOutlierDetection",
    "assetsPairsPlot",
    "assetsQQNormPlot",
    "assetsReturnPlot",
    "assetsRiskReturnPlot",
    "assetsSelect",
    "assetsSeriesPlot",
    "assetsSim",
    "assetsStarsPlot",
    "assetsStats",
    "assetsTest",
    "assetsTreePlot",
    ".bag.fun",
    ".col.corrgram",
    ".cor.bagged",
    ".corrgram",
    ".cor.shrink",
    ".cov.bagged",
    "covEllipsesPlot",
    ".cov.nne.dDk",
    ".cov.nne.Mtovec",
    ".cov.nne.nclean.sub",
    ".cov.nne.splusNN",
    ".cov.nne.vectoM",
    ".cov.nnve",
    ".cov.shrink",
    ".dutchPortfolioData",
    ".hclustColnames",
    ".hist",
    "lambdaCVaR",
    ".mst",
    ".mstPlot",
    ".mvenergyTest",
    ".mvnorm.e",
    ".mvshapiroTest",
    ".nsca",
    ".orderColnames",
    ".panel.copula",
    ".panel.ellipse",
    ".panel.hist",
    ".panel.minmax",
    ".panel.pie",
    ".panel.pts",
    ".panel.shade",
    ".panel.txt",
    ".pcaColnames",
    "pfolioCVaR",
    "pfolioCVaRplus",
    "pfolioHist",
    "pfolioMaxLoss",
    "pfolioReturn",
    "pfolioTargetReturn",
    "pfolioTargetRisk",
    "pfolioVaR",
    ".robust.cov.boot",
    ".sampleColnames",
    ".sm132PortfolioData",
    ".sm2vec",
    ".smindexes",
    ".sortIndexMST",
    ".statsColnames",
    ".usPortfolioData",
    ".varcov",
    ".vec2sm",
    ".worldIndexData" )
